DATABASE_URL=postgres://postgres:postgres@localhost:5432/school_db
BASE_URL=http://localhost:3000

# SMTP
SMTP_HOST=live.smtp.mailtrap.io
SMTP_PORT=587
SMTP_USERNAME=api
SMTP_PASSWORD=your_smtp_password
FROM_EMAIL=hello@yourdomain.com
FROM_NAME=CourseFlow
API_TOKEN=your_api_token

INTERVIEW_VENUE=Your Venue Address
LOGIN_URL=https://yourdomain.com/login

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_ACCESS_TOKEN_EXPIRY=3600
JWT_REFRESH_TOKEN_EXPIRY=604800
